.canvas-centered-container {
    overflow: auto;
    height: 100%;
}

.canvas-centered-container canvas {
    display: block;
    margin: 0 auto;
}

.pswp__caption  {
    display: block !important;
}

.pswp__caption__center {
    text-align: center;
}

.pswp__caption__center .pswp__button {
    float: none;
    display: inline-block;
    color: #fff;
}

.pswp__button.pswp__button--icon {
    background: none;
    color: #fff;
}

.pswp__top-bar {
    height: 58px;
}

.pswp__meta {
    position: absolute;
    left: 0;
    right: 0;
    color: #ddd;
    text-align: center;
    padding: 5px 0;
}

.pswp__meta .pswp__meta__username {
    font-weight: bold;
    font-size: 1.2rem;
}
